.main {
    margin-top: 80px;
    width: 100%;
    min-height: calc(100vh - 80px);
}

.background {
    max-width: 1725px;
    max-height: 1036px;
    background: #FFFAFA;
    border-radius: 20px;
    border: 1px solid;
}