.mainBlock {
    background-color: #bdadee;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 80px);
    border: 1px solid red;
    margin-top: 80px;
}

.text {
    width: 300px;
    border: 1px solid orange;
    text-align: center;
    padding: 5px;
}

.photo {
    width: 300px;
    height: 400px;
    border: 1px solid orange;
}
.photo img {
    width: 300px;
    height: 400px;
}