.skillsBlock {
    background-color: #91d7d9;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid red;
    position: relative;
}

/*.container {
    border: 1px solid red;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}*/

.header {
    border: 1px solid orange;
}

.items {
    width: 100%;
    border: 1px solid orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
}

.projectsLink{
    position: absolute;
    bottom: 80px;
}