#header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
}

.navIsVisible {
    pointer-events: auto;
}

.stretchyNav {
    position: fixed;
    z-index: 2;
    top: 30px;
    left: 30px;
    height: initial;
    line-height: initial;
    width: initial;
    background-color: initial;
    box-shadow: none;
    pointer-events: none;
}

.navTrigger {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    pointer-events: auto;
    line-height: initial;
    background-color: #333333;
    box-shadow: none !important;
}

.navTrigger span, .navTrigger span:before, .navTrigger span:after {
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #ffffff;
}

.navTrigger span {
    transition: background-color 0.2s;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
}

.navTrigger span:after, .navTrigger span:before {
    content: '';
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.2s;
}

.navTrigger > span:before {
    transform: translateY(-6px);
}

.navTrigger span:after {
    transform: translateY(6px);
}

.navIsVisible{
    height: 100%;
}
.navIsVisible span {
    background-color: transparent;
}

.navIsVisible span:before {
    transform: rotate(-45deg);
}

.navIsVisible span:after {
    transform: rotate(45deg);
}


.cdStretchyNav {
    position: fixed;
    z-index: 2;
    top: 30px;
    left: 30px;
    height: initial;
    line-height: initial;
    width: initial;
    background-color: initial;
    box-shadow: none;
    pointer-events: auto;
}

.cdStretchyNav ul {
    position: relative;
    z-index: 2;
    padding: 53px 0 22px;
    visibility: hidden;
    transition: visibility 0.3s;
    text-align: left;
}

.cdStretchyNav ul li {
    float: none;
    transition: initial;
}

.navIsVisible ul {
    visibility: visible;
}

.navIsVisible ul li:last-of-type a:after {
    animation-delay: 0.05s;
}

.aClass {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 1em 0 calc(1em + 60px);
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

.active {
    color: #ffb400;
}

.active:after {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.aClass:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 16px;
    top: 50%;
    left: 60px;
    background-color: #ffb400;
    transform: translateX(-3px) translateY(-50%) scaleY(1);
    transition: transform 0.15s 0.3s;
}

.aClass:after {
    animation: scaleIn 0.15s backwards;
    transition: opacity 0.2s;
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 22px;
    top: 8px;
    text-align: center;
    transform: translateY(-50%) scale(0);
    opacity: .6;
    font-family: "FontAwesome", sans-serif;
}

.aClass span {
    display: inline-block;
    animation-delay: 0.05s;
    opacity: 1;
    transform: translateX(0);
    animation: slideIn 0.15s backwards;
    transition: transform 0.2s;
}
.aClass svg{
    position: absolute;
    left: -9px;
    top: 16px;
}
