#contact {
    min-height: 100vh;
    position: absolute;
    background: #222;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
}

.container > div {
    padding: 0 15px;
}

.row {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -10px;
    color: #eee;
}

@media (min-width: 576px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (min-width: 768px) {
    .row {
        grid-template-columns: 1fr 2fr;
    }
}


/*ContactMedia */

.contactTitleIcon {
    display: inline-block;
}
.contactTitleIcon img {
    width: 20px;
}

.customList {
    list-style: none;
    padding: 0;
    margin-top: -10px;
}

.customList li {
    position: relative;
}

.customList li:not(:last-child) {
    padding-bottom: 25px;
}

.customList h6 {
    margin: 5px 0 0;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    position: relative;
}

.contactTitle {
    text-transform: capitalize;
    display: block;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    opacity: .8;
}

.contactContent {
    position: absolute;
    left: 28px;
    top: 29px;
    text-transform: capitalize;
    font-family: 'open sans', sans-serif;
    font-weight: 500;
}

.social {
    margin-top: 28px;
}

.social h6 {
    text-transform: capitalize;
    display: block;
    margin-bottom: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    opacity: .8;
}

.social ul {
    margin: 0;
    display: inline-block;
    padding: 0;
}

.social ul li {
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    margin-right: 15px;
}



.social ul li a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 36px;
    border-radius: 50%;
    text-align: center;
    background: transparent;
    transition: 0.3s;
    color: #ffb400;
    border: 1px solid #ffb400;

}

.social ul li a :hover {
    transform: rotateY(180deg);
    color: #fff;
}

.social ul li a img {
    height: 70%;
    color: #ffb400;
    transform: rotateY(0deg);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}


