
.work {
    border: 1px solid green;
    background-color: #c6c7d0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image {
    background-color: #176767; /*оставлено для обозначения области*/
}

.image img {
    height: 270px;
    width: 300px;
    border: 1px solid #91d7d9;
}


.description {
    border: 1px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.text {
    text-align: center;
}