.contactsBlock {
    background-color: #a2738a;
    min-height: calc(100vh - 240px);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}

.header {
    border: 1px solid orange;
    /*margin-bottom: 80px;*/
}

form.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid orange;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*font-size: 38px;*/
    /*flex-wrap: wrap;*/
    /*gap: 20px;*/
}

.name, .email, .message,.submitButton {
    display: grid;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

.email {
}
.contact input{
    max-width: 540px;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.message,.submitButton {
    grid-column-start: span 2;
}

.submitButton {
}

/*div.contact {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    border: 1px solid orange;*/
/*}*/

/*label,*/
/*input {*/
/*    text-align: center;*/
/*    border: 1px solid yellow;*/
/*}*/

/*input,*/
/*textarea {*/
/*    !*max-width: 150px; !*с медиазапросами уберу*!*!*/
/*}*/


/*button {*/
/*    font-size: 38px;*/
/*}*/

@media screen and (max-width: 569px) {
}
